{port_specs, [
    {"priv/erl_c_node", ["c_src/erl_c_node.c"]}
    ]}.

{port_env, [
    {"LDFLAGS", "$LDFLAGS -lerl_interface -lei -lnsl -lpthread -D_REENTRANT"}
    ]}.

{erl_opts, [
    debug_info,
    warn_obsolete_guards,
    warn_unused_vars,
    warn_unused_import
]}.

{lib_dir, ["deps"]}.
{deps_dir, "deps"}.

{clean_files, ["priv/*"]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
]}.
